<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @recipe.user.email %>
</p>

<%= image_tag @recipe.avatar.url(:medium), class: "img-responsive" %>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<%= render 'comments/form' %>

<h2>Comments</h2>
<% @recipe.comments.each do |comment| %>
<p><%= comment.user.email %> said:</p>
<%= comment.entry %>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
